﻿@{
    string coreui = "@coreui";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <!-- Icons-->
    <link href="~/Content/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="~/Content/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
</head>
<body>

    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="navbar-brand-full" src="img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">
            <img class="navbar-brand-minimized" src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none mr-auto" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="nav-icon icon-speedometer"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-title">Components</li>
                    <li class="nav-item">
                        <a class="nav-link" href="charts.html">
                            <i class="nav-icon icon-pie-chart"></i> Charts
                        </a>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-star"></i> Icons
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="icons-coreui-icons.html">
                                    <i class="nav-icon icon-star"></i> CoreUI Icons
                                    <span class="badge badge-success">NEW</span>
                                </a>
                                <a class="nav-link" href="icons-flags.html">
                                    <i class="nav-icon icon-star"></i> Flags
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="icons-font-awesome.html">
                                    <i class="nav-icon icon-star"></i> Font Awesome
                                    <span class="badge badge-secondary">4.7</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="icons-simple-line-icons.html">
                                    <i class="nav-icon icon-star"></i> Simple Line Icons
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="nav-title">Extras</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-star"></i> Pages
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="login.html" target="_top">
                                    <i class="nav-icon icon-star"></i> Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="register.html" target="_top">
                                    <i class="nav-icon icon-star"></i> Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="404.html" target="_top">
                                    <i class="nav-icon icon-star"></i> Error 404
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="500.html" target="_top">
                                    <i class="nav-icon icon-star"></i> Error 500
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item mt-auto">
                        <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
                            <i class="nav-icon icon-cloud-download"></i> Download CoreUI
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
                            <i class="nav-icon icon-layers"></i> Try CoreUI
                            <strong>PRO</strong>
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">
                    <a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
                <!-- Breadcrumb Menu-->
            </ol>
            @RenderBody()
        </main>
    </div>
    <footer class="app-footer">
        <div>
            <a href="https://coreui.io">CoreUI</a>
            <span>&copy; 2018 creativeLabs.</span>
        </div>
        <div class="ml-auto">
            <span>Powered by</span>
            <a href="https://coreui.io">CoreUI</a>
        </div>
    </footer>

    <!-- Bootstrap and necessary plugins-->
    <script src="~/Content/vendors/jquery/js/jquery.min.js"></script>
    <script src="~/Content/vendors/popper.js/js/popper.min.js"></script>
    <script src="~/Content/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/pace-progress/js/pace.min.js"></script>
    <script src="~/Content/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/@coreui/coreui/js/coreui.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
