﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table id="UserDatatable" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <label class="">STT</label>
            </th>
            <th>
                <label class="">Tên</label>
            </th>
            <th>
                <label class="">Ngày sinh</label>
            </th>
            <th>
                <label class="">Địa chỉ</label>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
    $(document).ready(function () {
        InitUserDatatable();
    });

    function InitUserDatatable() {

            $("#UserDatatable").dataTable({

                "bSort": false,
                "bServerSide": true,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "sAjaxSource": "@Url.Action("IndexList", "Employee")",
                "bProcessing": true,
                "aLengthMenu": [10, 25, 50],
                "bFilter": true,
                "oLanguage": {
                    "sSearchPlaceholder": "Tên sản phẩm",
                    "sSearch": "Tìm kiếm:",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1, 2, 3],
                        "bSortable": false,
                        "sClass": "text-center mid-v-align"
                    }, {
                        "bSortable": false,
                        "sClass": "text-center"
                    },

                ],
                "bAutoWidth": false,
            }).fnSetFilteringDelay(delaySearch);;
        }
</script>